/* -----導覽列----- */
nav.navBarbackcolor {
    background-color: transparent;
    transition: background-color 1.5s ease;
    backdrop-filter: blur(1px);
}

nav.navbar.scrolled {
    background-color: rgba(35, 55, 62, 0.95);
    transition: background-color 1.5s ease;
}

a.navbar-brand {
    font-size: 35px;
    font-family: "Noto Serif TC", sans-serif;
    align-items: center;
    display: flex;
    transition: transform 0.3s;
}

.weblogo {
    object-fit: contain;
    width: 120px;
    max-height: 100px;
    transition: transform 0.3s;
}

.weblogo:hover {
    transform: scale(1.05);
}

a.navbar-brand:hover {
    transform: scale(1.05);
}


/* -----漢堡----- */
.navbar-toggler:focus {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ebe0cc;
}

ul.navBar {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navBar li {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-family: "Noto Serif TC", sans-serif;
}

ul.navBar li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

ul.navBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px;
}



/* --- RWD --- */
@media (max-width: 991px) {

    /* 1. 設定下拉選單外觀 */
    .navbar-collapse {
        background-color: rgba(35, 55, 62, 0.5);
        padding: 10px;
        border-radius: 5px;
    }

    /* 2. 讓選項變成直排 */
    ul.navBar li {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* 3. 調整連結點擊範圍 */
    ul.navBar li a {
        padding: 10px 0;
    }

}


/*-----背景封面-----*/
body,
html {
    height: 70%;
    background-color: #F2EFE9;

}

* {
    box-sizing: border-box;
}


.bg-image {
    background-image: url("../mainpageimg/reservationLOGO.png");
    min-height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    /* border: 1px solid #C5A059; */
}




/* 手機版字體微調 */
@media (max-width: 768px) {
    .header-title {
        font-size: 2.5rem;
    }

    .header-desc {
        font-size: 0.95rem;
        padding: 0 20px;
        /* 左右留點空隙以免太貼邊 */
    }
}



/* -----聯絡我們 標題----- */
.bright-word{
    background-color: rgba(197, 160, 89, 0.2);
    color: #C5A059;
    padding: 5px 15px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2px;
}

.main-title {
    color: #C5A059;
    font-size: 2.5rem;
    margin-top: 15px;
    font-weight: 500;
}

.sub-description {
    color: #888;
    font-family: sans-serif;
    letter-spacing: 1px;
}




/* ----- 訂位與聯絡我們 ----- */

/* 1. 訂位區塊背景 */
.reservation-box {
    background-color: whitesmoke;
    color: #23373E;
}

/* 2. LINE 按鈕 */
.btn-line-large {
    background-color: #06c755;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 50px;
    /* 圓弧形按鈕 */
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    /* box-shadow: 0 4px 15px rgba(6, 199, 85, 0.4);  */
}

.tel,
.drink{
    font-size: 1.1rem; 
    color: #23373E; 
    font-family: 'Noto Serif TC', serif;
    line-height: 1.5;
}

.btn-line-large:hover {
    background-color: #05b34c;
    color: white;
    transform: translateY(-3px);
}

/* 3. 表單輸入 */
.custom-input {
    border: 1px solid Tr;
    border-radius: 4px;
    padding: 12px;
    background-color: #f9f9f9;
    width: 100%;
}

.custom-input:focus {
    background-color: #fff;
    border-color: #23373E;
    box-shadow: none;
    outline: none;
}

/* 4. 送出按鈕*/
input[type=submit] {
    transition: all 0.3s;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    color: #23373E;
}

.contact-box {
    background-color: white;
}






/* ----- 地圖 ----- */
.contact-map {
    margin-top: 50px;
    padding: 40px 20px;
    background-color: #f5f5f5;
}


.contact-map iframe {
    display: block;
    width: 100%;
}


/* -----底部聯絡資訊----- */
.main-footer {
    background-color: rgba(35, 55, 62, 0.95);
    color: #bbb;
    font-size: 1.2rem;
}

.footer-logo {
    width: 220px;
    height: auto;
    transition: transform 0.3s;
}

.footer-logo:hover {
    transform: scale(1.05);
}

/* ----- 右邊：社群 Icon 設定 ----- */
.social-icons-group {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons-group a {
    color: #bbb;
    text-decoration: none;
}

.social-icons-group i {
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.social-icons-group a:hover i {
    color: #e8c687;
}

/* --- 中間：聯絡我們文字設定 --- */
.footer-contact-list li {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.8;
}

/* 手機版適應 (當螢幕變窄時) */
@media (max-width: 768px) {
    .footer-logo {
        width: 160px;
    }

}

.footer-warning {
    background-color: #000;
    color: #888;
    border-top: 1px solid #333;
    font-size: 1.5rem;
    letter-spacing: 2px;
}


/* 至頂箭頭 */
 #myBtn {
     opacity: 0;
     pointer-events: none;
     position: fixed;
     bottom: 80px;
     right: 30px;
     z-index: 99;
     border: none;
     background-color: rgba(35, 55, 62, 0.95);
     color: #ebe0cc;
     padding: 15px;
     border-radius: 10px;
     font-size: 18px;
 }

 #myBtn.visible {
    opacity: 1;
    pointer-events: auto;
}

 #myBtn:hover {
     background-color: #555;
     cursor: pointer;
     transform: scale(1.1);
 }